h4{
    text-align: center;
    color: palevioletred;
    font-size:x-large;
}
main{
    margin-top: 4rem;
    border: solid 2px;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
/*animação de carregamento-----*/
div#load{
    width: 20px;
    height: 20px;
    border: orangered 6px solid;
    border-radius: 50%;
    border-top-color: transparent;

    animation: nomeload 2s linear infinite alternate-reverse;
}
@keyframes nomeload{
    to{
        transform: rotate(360deg) scale(2);
    }
}
/*animação 2*/
.loadtwo{
    border: 2px solid;
    width: 200px;
    height: 40px;
    margin-left: 2.6rem;
    display:flex ;
    justify-content: center;
    align-items: center;
    
}
#azul{
    border-radius: 50%;
    background-color: blue;
    width: 20px;
    height: 20px;
    animation: azul 1s infinite alternate-reverse;
}
@keyframes azul {
    to{
        transform: translateY(10px);
    }
}
#amarelo{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: rgb(243, 243, 40);
    width:20px ;
    height: 20px;
    animation: amarelo 1s infinite alternate-reverse;

}
@keyframes amarelo {
    to{
        transform: translateY(-7px);
    }
}
#vermelho{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: rgb(180, 43, 43);
    width:20px ;
    height: 20px;
    animation: vermelho 1s infinite alternate-reverse;

}
@keyframes vermelho {
    to{
        transform: translateY(10px);
    }
}

/*animação 3-----------------*/
div#sombra{
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 10px 20px 3px rgba(78, 78, 78, 0.842);
    position: absolute;
    margin-left: -0.6em;
    margin-top: -9px;
    opacity: 0.4;
    animation-name: sombra;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in;
}
#bolavermelha{
    width: 45px;
    height: 45px;    
    border-radius: 50%;
    border:none;
    margin-left: 7px;
    margin-right: 10px;
    background-color: rgb(163, 36, 36) ;
    animation-name: pula;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in;
    

}
@keyframes pula {
    do{
        transform: translateY(40px);
        transition-property: all;
    }
    from{
       transform: translateY(23px);
       width: 60px;
       height: 45px;

      
     
       

    }
}
@keyframes sombra {
    do{
        transition-property: all;
    }
    from{
        width: 60px;
        opacity: 0.8;
       
    }
}